html
  head 
    title= title   
    link(rel="stylesheet", href="/css/index.css")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap" rel="stylesheet")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet")
    link(rel="icon" type="image/x-icon" href="images/x.png") 

  body
  .p
    h1 DK Pizza shop
    img(src="/images/1.gif", alt="img")

    h2 GRAND OPENING CELEPRATION<BR>
          p ALL PIZZA'S ARE FLAT

          .q
            img(src="/images/3.gif", alt="img")

            address 26, Kuppumuthu St, Triplicane, Chennai-600005 Phone number:04428589722S
